NodeRed file.txt
[{"id":"f3276d55.fe613","type":"function","z":"32e274fe.d12e9c","name":"parameters","func":"global.set(\"sp\",msg.payload.sp)\nglobal.set(\"alc\",msg.payload.alc)\nglobal.set(\"tm\",msg.payload.tm)\nreturn msg;","outputs":1,"noerr":0,"x":163,"y":254,"wires":[["4152e5d2.cff59c"]]},{"id":"4152e5d2.cff59c","type":"http request","z":"32e274fe.d12e9c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":387,"y":137,"wires":[["8128fcb5.5bbc6","33f39c5b.6b7594"]]},{"id":"9a140651.299be8","type":"debug","z":"32e274fe.d12e9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":696,"y":239,"wires":[]},{"id":"8128fcb5.5bbc6","type":"function","z":"32e274fe.d12e9c","name":"prediction","func":"var token = msg.payload.token\nvar sp=global.get('sp')\nvar alc=global.get('alc')\nvar tm=global.get('tm')\nmsg.payload={\"fields\":[\"Speed\",\"Alcohol\",\"Time\"],values:[[sp,alc,tm]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":664,"y":142,"wires":[["9f94db09.b0c3c8"]]},{"id":"9f94db09.b0c3c8","type":"http request","z":"32e274fe.d12e9c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/c180bbe2-70ca-49f6-80ea-7f671a66d52b/deployments/c51539b3-4c1d-4c3d-9723-69c77880f918/online","tls":"","proxy":"","authType":"basic","x":461,"y":263,"wires":[["2e316105.7eaf6e","9a140651.299be8"]]},{"id":"33f39c5b.6b7594","type":"debug","z":"32e274fe.d12e9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":57,"wires":[]},{"id":"2e316105.7eaf6e","type":"function","z":"32e274fe.d12e9c","name":"prediction","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":337,"wires":[["84559cc3.f0f06"]]},{"id":"e109df74.df4d4","type":"ui_form","z":"32e274fe.d12e9c","name":"","label":"","group":"c9c754db.de8468","order":0,"width":0,"height":0,"options":[{"label":"Speed","value":"sp","type":"number","required":true},{"label":"Alcohol","value":"alc","type":"number","required":true},{"label":"Time","value":"tm","type":"number","required":true}],"formValue":{"sp":"","alc":"","tm":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":75,"y":347,"wires":[["f3276d55.fe613"]]},{"id":"84559cc3.f0f06","type":"ui_text","z":"32e274fe.d12e9c","group":"372f78b.536c688","order":0,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":744,"y":404,"wires":[]},{"id":"c9c754db.de8468","type":"ui_group","z":"","name":" Parameters","tab":"6c0d2dc2.4b9064","disp":true,"width":"6","collapse":false},{"id":"372f78b.536c688","type":"ui_group","z":"","name":"output Prediction","tab":"6c0d2dc2.4b9064","disp":true,"width":"6","collapse":false},{"id":"6c0d2dc2.4b9064","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]